boto3==1.9.245
botocore==1.12.245
catboost==0.17.3
certifi==2019.6.16
chardet==3.0.4
Click==7.0
cycler==0.10.0
docutils==0.15.2
Flask==1.1.1
graphviz==0.13
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
joblib==1.2.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.17.2
pandas==0.25.1
plotly==4.1.1
psycopg2==2.8.3
py4j==0.10.8.1
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
pyverdict==0.1.3.2
requests==2.22.0
retrying==1.3.3
s3transfer==0.2.1
scikit-learn==0.21.3
scipy==1.3.1
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.6
Werkzeug==0.16.0
xgboost===1.0.0-SNAPSHOT
